# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data (NO subir datasets)
# =========================
data/raw/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# =========================
# ML / Experiment tracking
# =========================
mlruns/
artifacts/

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
